# Default reviewers
* @OryxMix-Team-Collaboration-Demo/oryxmix_reviewers

# Documentation reviewers
/docs/ @OryxMix-Team-Collaboration-Demo/oryxmix_reviewers

# Backend reviewers
/backend/ @OryxMix-Team-Collaboration-Demo/oryxmix_reviewers

# Frontend reviewers
/frontend/ @OryxMix-Team-Collaboration-Demo/oryxmix_reviewers# Default reviewers
* @OryxMix-Team-Collaboration-Demo/oryxmix_reviewers

# Documentation reviewers
/docs/ @OryxMix-Team-Collaboration-Demo/oryxmix_reviewers

# Backend reviewers
/backend/ @OryxMix-Team-Collaboration-Demo/oryxmix_reviewers

# Frontend reviewers
/frontend/ @OryxMix-Team-Collaboration-Demo/oryxmix_reviewers